@(idx: Int, id: String, path: String, glimpseConf: String, intentsArr: Seq[Seq[String]], selectedglimpses: String, selectedintents: Seq[String])(implicit req: RequestHeader)

@main {

  <script type="text/javascript" src="@routes.Assets.versioned("javascripts/img.js")"></script>

  <input type="hidden" id="glimpse-conf" value="@glimpseConf"/>
  <input type="hidden" id="selected-glimpse" value="@selectedglimpses"/>

  <div>
  <table>
    <tr>
      <td>
        <div>
          <canvas id="canvas" width="300" height="300" style="border:1px solid #ccc"></canvas>
          <input type="hidden" id="id" value="@id">
          <img style="display: none;" id="item" src="@routes.Assets.versioned(path)" />
        </div>
      </td>

      <td>
        <div>
          @for(intents <- intentsArr) {
            <select multiple class="intents" style="height: 200px;">
              @for(intent <- intents) {
                @defining({if(selectedintents.contains(intent)) "selected" else ""}) { sel =>
                  <option @sel value="@intent">@intent</option>
                }
              }
            </select>
          }
        </div>
      </td>

      <td>
        <img src="@routes.Assets.versioned(path)" />
      </td>
    </tr>
  </table>

  </div>

  <div>
    <a id="prev" href="/img?idx=@(idx-1)">Prev</a>
    <button type="button">Add Info</button>
    <a id="next" href="/img?idx=@(idx+1)">Next</a>
  </div>

}