@(idx: Int, id: String, path: String, glimpseConf: String, intents: Array[String])(implicit req: RequestHeader)

@main {

  <script type="text/javascript" src="@routes.Assets.versioned("javascripts/img.js")"></script>

  <input type="hidden" id="glimpse-conf" value="@glimpseConf"/>

  <div>
  <table>
    <tr>
      <td>
        <div>
          <canvas id="canvas" width="300" height="300" style="border:1px solid #ccc"></canvas>
          <input type="hidden" id="id" value="@id">
          <img style="display: none;" id="item" src="@routes.Assets.versioned(path)" />
        </div>
      </td>

      <td>
        <div>
          <select multiple id="intents">
            @for(intent <- intents) {
              <option value="@intent">@intent</option>
            }
          </select>
        </div>
      </td>
    </tr>
  </table>

  </div>

  <div>
    <a href="/img?idx=@(idx-1)">Prev</a>
    <button type="button">Add Info</button>
    <a href="/img?idx=@(idx+1)">Next</a>
  </div>

}