@(id: String, path: String, intent: String)(implicit req: RequestHeader)

@main {

  <script type="text/javascript" src="@routes.Assets.versioned("javascripts/img-for-intent.js")"></script>

  <input type="hidden" id="intent" value="@intent">
  <input type="hidden" id="id" value="@id">

  <table>
    <tr>
      <td>
        <img src="@routes.Assets.versioned(path)"/>
      </td>

      <td>
        <p style="font-size: 24px">Does this image fall into <b>@intent.toUpperCase</b> category.</p>
        <button id="yes">Yes</button>
        <button id="no">No</button>
        <div id="result" style="display: none; color: red;">Some error occurred</div>
      </td>
    </tr>
  </table>
}